<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DN_niu_baodian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,149},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,149},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian09.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,149},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
            <key>DN_niu_baodian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,149},{189,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,145}}</string>
                <key>sourceSize</key>
                <string>{189,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DN_niu_baodian.png</string>
            <key>size</key>
            <string>{957,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:382a4afd842f09cb17b02fb0e78fceff$</string>
            <key>textureFileName</key>
            <string>DN_niu_baodian.png</string>
        </dict>
    </dict>
</plist>
