<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DN_niu_jinniu_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_jinniu_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_jinniu_guang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_jinniu_guang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_jinniu_guang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_jinniu_guang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_jinniu_guang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_yinniu_guang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_yinniu_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,36},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_yinniu_guang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,36},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_yinniu_guang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,36},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_yinniu_guang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,36},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_yinniu_guang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,36},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>DN_niu_yinniu_guang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,36},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DN_niu_guang.png</string>
            <key>size</key>
            <string>{437,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06b23ca11d8e3835281bd5f0c0953b0b$</string>
            <key>textureFileName</key>
            <string>DN_niu_guang.png</string>
        </dict>
    </dict>
</plist>
