<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DN_tx_qiangzhuang_xl101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,143}}</string>
                <key>sourceSize</key>
                <string>{273,143}</string>
            </dict>
            <key>DN_tx_qiangzhuang_xl102.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{273,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,143}}</string>
                <key>sourceSize</key>
                <string>{273,143}</string>
            </dict>
            <key>DN_tx_qiangzhuang_xl103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{273,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,143}}</string>
                <key>sourceSize</key>
                <string>{273,143}</string>
            </dict>
            <key>DN_tx_qiangzhuang_xl104.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,147},{273,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,143}}</string>
                <key>sourceSize</key>
                <string>{273,143}</string>
            </dict>
            <key>DN_tx_qiangzhuang_xl201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{125,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,176}}</string>
                <key>sourceSize</key>
                <string>{125,176}</string>
            </dict>
            <key>DN_tx_qiangzhuang_xl202.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,292},{125,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,176}}</string>
                <key>sourceSize</key>
                <string>{125,176}</string>
            </dict>
            <key>DN_tx_qiangzhuang_xl203.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,292},{125,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,176}}</string>
                <key>sourceSize</key>
                <string>{125,176}</string>
            </dict>
            <key>DN_tx_qiangzhuang_xl204.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,292},{125,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,176}}</string>
                <key>sourceSize</key>
                <string>{125,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DN_tx_qiangzhuang_xl.png</string>
            <key>size</key>
            <string>{552,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae2637503f1b1b0f50e6074dd0418b3$</string>
            <key>textureFileName</key>
            <string>DN_tx_qiangzhuang_xl.png</string>
        </dict>
    </dict>
</plist>
