<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DN_xiangkuang_guang001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,90},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang006.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,90},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,178},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang009.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,178},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang011.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,266},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,266},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang014.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,354},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>DN_xiangkuang_guang015.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,354},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DN_xiangkuang_guang0.png</string>
            <key>size</key>
            <string>{488,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d0c899e25f73004c2ed1c7dd0eab3c$</string>
            <key>textureFileName</key>
            <string>DN_xiangkuang_guang0.png</string>
        </dict>
    </dict>
</plist>
