<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression102.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression201.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression202.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression203.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression301.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression303.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression401.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression402.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression501.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression502.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression504.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression601.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression602.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression603.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression604.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression605.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression606.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression607.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression608.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression701.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression702.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression703.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression704.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression705.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression706.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression707.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression708.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression709.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression801.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression802.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression901.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression902.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression903.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression904.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression905.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression906.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression907.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>expression908.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aab62b8eb077490e364dfaacc403fb0$</string>
            <key>textureFileName</key>
            <string>expression.png</string>
        </dict>
    </dict>
</plist>
