<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,192},{142,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,192}}</string>
                <key>sourceSize</key>
                <string>{142,192}</string>
            </dict>
            <key>b/bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{142,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,192}}</string>
                <key>sourceSize</key>
                <string>{142,192}</string>
            </dict>
            <key>b/bigtag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>b/bigtag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>b/bigtag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,146},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>b/bigtag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,386},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>b/bigtag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{1,1}}</string>
                <key>offset</key>
                <string>{-48,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>b/bigtag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{1,1}}</string>
                <key>offset</key>
                <string>{-46,50.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>b/bigtag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{1,1}}</string>
                <key>offset</key>
                <string>{-50.5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,96},{37,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,291},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,403},{31,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,435},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,309},{35,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,277},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,192},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,259},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,157},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,450},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,45}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,276},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,244},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,109},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>b/dizhutag.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,390},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
            <key>b/gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{132,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,115}}</string>
                <key>sourceSize</key>
                <string>{132,115}</string>
            </dict>
            <key>b/orange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,49},{37,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,260},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/orange_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,403},{31,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/orange_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,386},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/orange_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,308},{35,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,323},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/orange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,146},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/orange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,243},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/orange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,457},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/orange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,356},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,45}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/orange_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,226},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/orange_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,210},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/orange_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,61},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>b/poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{142,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,192}}</string>
                <key>sourceSize</key>
                <string>{142,192}</string>
            </dict>
            <key>b/poker_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,192}}</string>
                <key>sourceSize</key>
                <string>{142,192}</string>
            </dict>
            <key>b/poker_mask_scale9.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>b/red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,323},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,345},{31,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,143},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,146},{35,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>b/red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,292},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,457},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,227},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,157},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,322},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,45}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,193},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,195},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>b/red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>b/small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{1,1}}</string>
                <key>offset</key>
                <string>{-27.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>b/smalltag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,386},{16,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,123}}</string>
                <key>sourceSize</key>
                <string>{16,123}</string>
            </dict>
            <key>b/smalltag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,493},{16,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,123}}</string>
                <key>sourceSize</key>
                <string>{16,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e9323530d76449060bfa588091fcf8c:1/1$</string>
            <key>textureFileName</key>
            <string>poker_b.png</string>
        </dict>
    </dict>
</plist>
