<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>air0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,310}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{425,310}}</string>
                <key>sourceSize</key>
                <string>{455,332}</string>
            </dict>
            <key>air1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{421,298}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{421,298}}</string>
                <key>sourceSize</key>
                <string>{455,332}</string>
            </dict>
            <key>air2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{421,288}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{421,288}}</string>
                <key>sourceSize</key>
                <string>{455,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>air.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8ed4cf7c8c46c7367b77ca5708915c:1/1$</string>
            <key>textureFileName</key>
            <string>air.png</string>
        </dict>
    </dict>
</plist>
