<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,738},{198,202}}</string>
                <key>offset</key>
                <string>{-1,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,25},{198,202}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,494},{182,148}}</string>
                <key>offset</key>
                <string>{-26,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,176},{182,148}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{538,292}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,114},{538,292}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,300}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,106},{576,300}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,678},{158,144}}</string>
                <key>offset</key>
                <string>{-84,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,249},{158,144}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,494},{130,134}}</string>
                <key>offset</key>
                <string>{-19,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,304},{130,134}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,494},{242,126}}</string>
                <key>offset</key>
                <string>{-17,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,313},{242,126}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,580},{400,308}}</string>
                <key>offset</key>
                <string>{-26,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,113},{400,308}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{416,282}}</string>
                <key>offset</key>
                <string>{-34,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,126},{416,282}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,542},{458,304}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,117},{458,304}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{490,302}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,119},{490,302}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
            <key>bomb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{540,288}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,118},{540,288}}</string>
                <key>sourceSize</key>
                <string>{666,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20613cc6b8f2c6babcf5f265c0917237:1/1$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
