<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clubs_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,682},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,512},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,342},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,852},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,682},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,512},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,342},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,852},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,682},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,512},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,342},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,852},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>clubs_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,682},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,512},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,342},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,274},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,274},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,274},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,274},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,206},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,206},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,206},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,206},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,852},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,682},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>diamonds_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,512},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,274},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,206},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,342},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,172},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,138},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,138},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,138},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,138},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,138},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,70},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,70},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,70},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>hearts_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,70},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
            <key>spades_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,168}}</string>
                <key>sourceSize</key>
                <string>{66,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cuocard_big.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad715cef670e99c5afa5a946b090580d:1/1$</string>
            <key>textureFileName</key>
            <string>cuocard_big.png</string>
        </dict>
    </dict>
</plist>
