<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>point_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,71}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{334,71}}</string>
                <key>sourceSize</key>
                <string>{380,71}</string>
            </dict>
            <key>point_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{250,64}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{250,64}}</string>
                <key>sourceSize</key>
                <string>{296,64}</string>
            </dict>
            <key>point_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{218,64}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{264,64}</string>
            </dict>
            <key>point_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{262,66}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{302,66}</string>
            </dict>
            <key>point_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,737},{218,64}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{260,64}</string>
            </dict>
            <key>point_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{262,66}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{304,66}</string>
            </dict>
            <key>point_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{218,64}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{262,64}</string>
            </dict>
            <key>point_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{262,66}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{298,66}</string>
            </dict>
            <key>point_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,407},{218,65}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{218,65}}</string>
                <key>sourceSize</key>
                <string>{260,65}</string>
            </dict>
            <key>point_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{262,66}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{296,66}</string>
            </dict>
            <key>point_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,671},{218,64}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{260,64}</string>
            </dict>
            <key>point_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,75},{262,66}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{316,66}</string>
            </dict>
            <key>point_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,540},{250,63}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{250,63}}</string>
                <key>sourceSize</key>
                <string>{292,63}</string>
            </dict>
            <key>point_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,605},{218,64}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{276,64}</string>
            </dict>
            <key>point_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{218,64}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{276,64}</string>
            </dict>
            <key>point_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,339},{218,66}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{218,66}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>point_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{262,65}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{262,65}}</string>
                <key>sourceSize</key>
                <string>{320,65}</string>
            </dict>
            <key>point_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,605},{218,64}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{276,64}</string>
            </dict>
            <key>point_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{262,66}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{320,66}</string>
            </dict>
            <key>point_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{218,64}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{272,64}</string>
            </dict>
            <key>point_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{262,66}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{312,66}</string>
            </dict>
            <key>point_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,474},{218,64}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{218,64}}</string>
                <key>sourceSize</key>
                <string>{268,64}</string>
            </dict>
            <key>point_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{262,66}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{302,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pointshow.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64734442fdbeb734559b0e9c9fb578da:1/1$</string>
            <key>textureFileName</key>
            <string>pointshow.png</string>
        </dict>
    </dict>
</plist>
